<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Editar Tarefa</h1>
    <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" value="<%= task.title %>" required>
        
        <label for="description">Descrição:</label>
        <textarea id="description" name="description"><%= task.description %></textarea>
        
        <label for="dueDate">Data de Conclusão:</label>
        <input type="date" id="dueDate" name="dueDate" value="<%= task.dueDate.toISOString().substring(0, 10) %>" required>

        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="/tasks" class="button back-button">Voltar</a>
</body>
</html>
