<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <link rel="stylesheet" href="/index.css"> <!-- TEM QUE TIRAR O PUBLIC SE NÃO, NÃO FUNCIONA DEIXAR SOMENTE O CSS-->
  </head>
  <body>
    <h1>Adicionar Novo Cliente</h1>
    <form action="/clientes/cadastro" method="POST">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required /><br />

      <label for="idade">Idade</label>
      <input type="number" name="idade" id="idade" required /><br />

      <label for="uf">UF:</label>
      <select name="uf" id="uf" required>
        <option>AC</option>
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
      </select><br />

      <button type="submit">Adicionar</button>
    </form>

    <!-- Botão para visualizar clientes -->
    <a href="/clientes/lista" class="btn-view">Visualizar Clientes</a>
  </body>
</html>
