<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="/listaCliente.css"> <!-- TEM QUE TIRAR O PUBLIC SE NÃO, NÃO FUNCIONA DEIXAR SOMENTE O CSS-->
</head>
<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <ul>
            <% clientes.forEach(cliente => { %>
            <li><%= cliente.nome %> - <%= cliente.idade %> - <%= cliente.uf %>
                <form
                action="delete/<%= cliente._id %>"
                method="POST"
                style="display: inline"
              >
                <button type="submit">Deletar</button>
              </form>
            </li>
            <% }); %>
        </ul>

</body>
</html>
