<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <title>CRUD DE CLIENTES</title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Preencha os dados abaixo para salvar o cliente.</p>
    <form action="/cadastro" method="POST">
        <p>
            <label>Nome: <input type="text" name="nome"/></label>
        </p>
        <p>
            <label>Idade: <input type="number" name="idade"/></label>
        </p>
        <p>
            <label>UF:
                <select name="uf">
                    <option>SP</option>
                    <option>RJ</option>
                    <option>BA</option>
                    <option>PR</option>
                    <option>MG</option>
                    <option>RO</option>
                    <!-- coloque os estados que quiser -->
                </select>
            </label>
        </p>
        <p>
            <a href="/">Cancelar</a> | <input type="submit" value="Salvar" />
        </p>
    </form>
</body>
</html>