.sacola {
    background: url(../img/sacolas.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

body {
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.logotipo {
    position: relative;
    top: 20px;
    left: 50px;
}

header {
    position: relative;
}

.item-menu {
    text-decoration: none;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    padding-bottom: 5px;
    float: left;
}

.menu-departamentos {
    clear: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.busca input {
    vertical-align: middle;
    border-radius: 10px;
}

.busca input[type="text"] {
    width: 170px;
}

.menu-departamentos ul {
    list-style: none;
    padding: 0;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}
.destaque{
    margin-top: 10px;
}
.painel{
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}
.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140;
    margin: 2px;
    padding-bottom: 10px;
}
.novidades{
    float: left;
    background-color: #003366;
}
.mais-vendidos{
    float: right;
    background-color: #003366;
}